trunk/Web References/WebFileService/WebFileServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/police-records/WebFileServices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/police-records/WebFileServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/police-records/WebFileServices">
      <s:element name="UploadBiometricsData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadBiometricsDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadBiometricsDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyBiometricsData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyBiometricsDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyBiometricsDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserTempProfileId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserTempProfileIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserTempProfileIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProfileInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProfileInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProfileInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="objFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadBiometricsDataSoapIn">
    <wsdl:part name="parameters" element="tns:UploadBiometricsData" />
  </wsdl:message>
  <wsdl:message name="UploadBiometricsDataSoapOut">
    <wsdl:part name="parameters" element="tns:UploadBiometricsDataResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyBiometricsDataSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyBiometricsData" />
  </wsdl:message>
  <wsdl:message name="VerifyBiometricsDataSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyBiometricsDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserTempProfileIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserTempProfileId" />
  </wsdl:message>
  <wsdl:message name="GetUserTempProfileIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserTempProfileIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetProfileInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetProfileInfo" />
  </wsdl:message>
  <wsdl:message name="GetProfileInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetProfileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserId" />
  </wsdl:message>
  <wsdl:message name="GetUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserIdResponse" />
  </wsdl:message>
  <wsdl:portType name="WebFileManagerSoap">
    <wsdl:operation name="UploadBiometricsData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Upload Biometrics Data</wsdl:documentation>
      <wsdl:input message="tns:UploadBiometricsDataSoapIn" />
      <wsdl:output message="tns:UploadBiometricsDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyBiometricsData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verify Biometrics Data</wsdl:documentation>
      <wsdl:input message="tns:VerifyBiometricsDataSoapIn" />
      <wsdl:output message="tns:VerifyBiometricsDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTempProfileId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get UserTempProfileId</wsdl:documentation>
      <wsdl:input message="tns:GetUserTempProfileIdSoapIn" />
      <wsdl:output message="tns:GetUserTempProfileIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get ProfileInfo</wsdl:documentation>
      <wsdl:input message="tns:GetProfileInfoSoapIn" />
      <wsdl:output message="tns:GetProfileInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">File Upload Webservice</wsdl:documentation>
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Current ID</wsdl:documentation>
      <wsdl:input message="tns:GetUserIdSoapIn" />
      <wsdl:output message="tns:GetUserIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebFileManagerSoap" type="tns:WebFileManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadBiometricsData">
      <soap:operation soapAction="http://tempuri.org/police-records/WebFileServices/UploadBiometricsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyBiometricsData">
      <soap:operation soapAction="http://tempuri.org/police-records/WebFileServices/VerifyBiometricsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserTempProfileId">
      <soap:operation soapAction="http://tempuri.org/police-records/WebFileServices/GetUserTempProfileId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileInfo">
      <soap:operation soapAction="http://tempuri.org/police-records/WebFileServices/GetProfileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/police-records/WebFileServices/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <soap:operation soapAction="http://tempuri.org/police-records/WebFileServices/GetUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebFileManagerSoap12" type="tns:WebFileManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadBiometricsData">
      <soap12:operation soapAction="http://tempuri.org/police-records/WebFileServices/UploadBiometricsData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyBiometricsData">
      <soap12:operation soapAction="http://tempuri.org/police-records/WebFileServices/VerifyBiometricsData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserTempProfileId">
      <soap12:operation soapAction="http://tempuri.org/police-records/WebFileServices/GetUserTempProfileId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileInfo">
      <soap12:operation soapAction="http://tempuri.org/police-records/WebFileServices/GetProfileInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/police-records/WebFileServices/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <soap12:operation soapAction="http://tempuri.org/police-records/WebFileServices/GetUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebFileManager">
    <wsdl:port name="WebFileManagerSoap" binding="tns:WebFileManagerSoap">
      <soap:address location="http://localhost:2593/WebFileServices.asmx" />
    </wsdl:port>
    <wsdl:port name="WebFileManagerSoap12" binding="tns:WebFileManagerSoap12">
      <soap12:address location="http://localhost:2593/WebFileServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>